.scrollToTop {
  border-radius: 4px;
  bottom: 60px;
  color: #fff;
  display: none;
  font-size: 30px;
  line-height: 50px;
  height: 50px;
  font-family: $heading-font;
  padding: 5px 0;
  position: fixed;
  right: 20px;
  text-align: center;
  text-decoration: none;
  width: 50px;
  z-index: 999;
  @include transition(all 0.5s ease 0s);
  i {
    display: block;
  }
  span {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
  }
}
.scrollToTop:hover,
.scrollToTop:focus {
  color: #fff;
}

#mu-search {
  background-color: rgba(0, 0, 0, 0.9);
  height: 100%;
  left: 0;
  opacity: 1;
  position: fixed;
  top: 0;
  transform: translateY(-100%) scale(0);
  @include transition(all 0.5s ease-in-out 0s);
  width: 100%;
  z-index: 99999;
  .mu-search-area {
    display: inline;
    float: left;
    width: 100%;
    padding: 20% 0;
    text-align: center;
    .mu-search-close {
      border: none;
      color: #fff;
      display: inline-block;
      font-size: 25px;
      outline: none;
      height: 50px;
      line-height: 50px;
      position: absolute;
      right: 100px;
      text-align: center;
      top: 50px;
      width: 50px;
    }
    .mu-search-form {
      input[type="search"] {
        background: transparent none repeat scroll 0 0;
        border: medium none;
        color: #fff;
        font-size: 45px;
        font-family: $heading-font;
        height: 100px;
        outline: medium none;
        text-align: center;
        width: 100%;
      }
    }
  }
}
#mu-search.mu-search-open {
  transform: translateY(0) scale(1);
}

#mu-slider {
  display: inline;
  float: left;
  width: 100%;
  .mu-slider-single {
    display: inline;
    float: left;
    width: 100%;
    position: relative;
    .mu-slider-img {
      display: inline;
      float: left;
      width: 100%;
      height: 500px;
      &:after {
        background-color: rgba(0, 0, 0, 0.5);
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }
      figure {
        height: 100%;
        width: 100%;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .mu-slider-content {
      color: #fff;
      position: absolute;
      left: 0;
      right: 0;
      top: 20%;
      padding: 0 15%;
      width: 100%;
      text-align: center;
      height: 100%;
      h4 {
        letter-spacing: 1px;
        margin-bottom: 0;
      }
      span {
        display: inline-block;
        height: 1px;
        width: 100px;
      }
      h2 {
        font-size: 50px;
        line-height: 80px;
        margin-bottom: 10px;
      }
      p {
        font-size: 18px;
        letter-spacing: 0.5px;
        line-height: 28px;
      }
      a {
        margin-top: 25px;
      }
    }
  }
  .slick-prev,
  .slick-next {
    height: 60px;
    width: 60px;
    &:before {
      color: #fff;
      font-size: 25px;
    }
  }
}

#mu-service {
  display: inline;
  float: left;
  margin-top: -80px;
  width: 100%;
  .mu-service-area {
    display: inline;
    float: left;
    width: 100%;
    .mu-service-single {
      background-color: #01bafd;
      color: #fff;
      display: inline;
      float: left;
      padding: 35px 25px;
      text-align: center;
      width: 33.33%;
      &:nth-child(2) {
        background-color: #2ecc71;
      }
      &:nth-child(3) {
        background-color: #45a0de;
      }
      span {
        font-size: 30px;
      }
      h3 {
        font-size: 25px;
      }
      p {
        font-weight: lighter;
      }
    }
  }
}

#mu-about-us {
  display: inline;
  float: left;
  width: 100%;
  padding: 100px 0;
  .mu-about-us-area {
    display: inline;
    float: left;
    width: 100%;
    .mu-about-us-left {
      display: inline;
      float: left;
      width: 100%;
      h2 {
        font-size: 40px;
        margin-bottom: 20px;
        text-align: left;
      }
      p {
      }
      ul {
        margin-left: 25px;
        margin-bottom: 15px;
        li {
          line-height: 30px;
          list-style: circle;
        }
      }
    }
    .mu-about-us-right {
      display: inline;
      float: left;
      width: 100%;
      display: block;
      width: 100%;
      background-color: #ccc;
      a {
        display: block;
        width: 100%;
        position: relative;
        img {
          width: 100%;
        }
        &:after {
          background-color: rgba(0, 0, 0, 0.8);
          bottom: 0;
          color: #ddd;
          content: "\f04b";
          font-family: fontAwesome;
          font-size: 50px;
          left: 0;
          padding-top: 27%;
          position: absolute;
          right: 0;
          text-align: center;
          top: 0;
        }
      }
    }
  }
}

.mu-title {
  display: inline;
  float: left;
  text-align: center;
  width: 100%;
  h2 {
    color: #000;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  p {
    color: #555;
    letter-spacing: 0.3px;
    line-height: 1.7;
    padding: 0 120px;
  }
}

#mu-features {
  display: inline;
  float: left;
  padding: 100px 0;
  width: 100%;
  .mu-features-area {
    display: inline;
    float: left;
    width: 100%;
    .mu-features-content {
      display: inline;
      float: left;
      margin-top: 50px;
      width: 100%;
      .mu-single-feature {
        display: inline;
        float: left;
        margin-bottom: 30px;
        margin-top: 30px;
        padding: 0 10px;
        width: 100%;
        span {
          font-size: 25px;
          padding: 10px 15px;
        }
        h4 {
          margin-bottom: 15px;
          margin-top: 15px;
          padding-bottom: 10px;
          position: relative;
          &:after {
            background-color: #333;
            content: "";
            left: 0;
            right: 0;
            bottom: 0;
            height: 2px;
            width: 70px;
            position: absolute;
          }
        }
        p {
          font-size: 15px;
          letter-spacing: 0.3px;
          line-height: 1.7;
        }
        a {
          border: 1px solid #888;
          display: inline-block;
          font-size: 14px;
          margin-top: 10px;
          padding: 5px 10px;
          text-transform: uppercase;
          @include transition(all 0.5s);
        }
      }
    }
  }
}

#mu-contact {
  display: inline;
  float: left;
  padding: 100px 0;
  width: 100%;
  .mu-contact-area {
    display: inline;
    float: left;
    width: 100%;
    .mu-contact-content {
      display: inline;
      float: left;
      margin-top: 50px;
      width: 100%;
      .mu-contact-left {
        display: inline;
        float: left;
        width: 100%;
        .contactform {
          display: inline;
          float: left;
          width: 100%;
          .reply-title {
            font-size: 25px;
            margin-top: 0;
          }
          label {
            display: block;
            .required {
              color: #f60;
            }
          }
          input[type="text"],
          input[type="email"],
          input[type="url"] {
            border: none;
            border: 1px solid #ddd;
            color: #555;
            margin-bottom: 10px;
            height: 35px;
            padding: 5px;
            width: 100%;
            @include transition(all 0.5s);
          }
          textarea {
            border: none;
            border: 1px solid #ddd;
            color: #555;
            margin-bottom: 5px;
            padding: 10px;
            height: 150px;
            width: 100%;
            @include transition(all 0.5s);
          }
          .form-submit input {
            margin-top: 10px;
          }
        }
      }
      .mu-contact-right {
        display: inline;
        float: left;
        width: 100%;
        iframe {
          height: 500px;
        }
      }
    }
  }
}
